<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NativeBinaryManager" version="0.1.0" targetFramework="net45" />
  <package id="NativeCodeBuilder" version="0.1.2" targetFramework="net45" />
  <package id="Stugo.Interop" version="0.1.0" targetFramework="net45" />
  <package id="ZipStorer" version="2.38" targetFramework="net45" />
</packages>